.Toolbar {
  display: flex;
  justify-content: space-between;
  font-family: inherit;
  padding: 4px;
  font-size: 22px;
  background-color: lightslategrey;
}

.Btn {
  font-family: inherit;
  font-size: 22px;
}

.Btn:hover {
  cursor: pointer;
}
