.Src {
    display: flex;
    justify-content: space-around;
    padding: 8px 12px;
}
.Text {
    margin: 4px;
    padding: 4px 8px;
    font-family: inherit;
    font-size: 22px;
    border-radius: 4px;
    border: none;
    box-shadow: 2px 2px 8px black;
    resize: none;
    outline: none;
    transition: transform .2s ease-in-out;
}
.BtnContainer {
    display: flex;
    justify-content: center;
}
.Btn {
    font-family: inherit;
    font-size: 22px;
}
.Text:focus {
    transform: scale(1.05);
    box-shadow: 4px 4px 10px black;
}
.Btn:hover {
    cursor: pointer;
}